@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");
@import "tailwindcss";

body {
  font-family: "Ubuntu";
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

.root {
  font-family: "Ubuntu";
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
